<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{% block title %}Rishit Agnihotri: Portfolio{% endblock title %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="container">
    {% block page_content %}{% endblock page_content %}

    <footer class="mt-5 py-5 border-top">
        <div class="row text-center">
            <div class="col-12">
                <h5 class="mb-3 text-uppercase fw-bold text-muted">Contact Me</h5>
                <p class="text-secondary">Feel free to reach out for collaborations or just a friendly hello!</p>
                <a href="mailto:rishit.agnihotri@example.com" class="btn btn-outline-primary px-4 py-2 mt-2">Get In Touch</a>
                <div class="mt-4">
                    <a href="#" class="text-decoration-none me-3 text-secondary">LinkedIn</a>
                    <a href="#" class="text-decoration-none text-secondary">GitHub</a>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>